h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px ;
    color: rgba(29, 94, 16, 0.979);
    margin-left: 2%;
    border-bottom:2px solid #CCC;
    padding-bottom: 20px;
    padding-top: 20px;
    }

h2 {
    font-size: 40px ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(29, 94, 16, 0.979);
    padding-bottom: 20px;
    padding-top: 29px;
    border-bottom:2px solid #CCC;
}

/* Custom H3 class to override bootstrap so font will be smaller */
h3.custom {
    font-size: 15px ;
    text-align: left;
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(29, 94, 16, 0.979);
    padding-bottom: 15px;
    padding-top: 15px;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: relative;
    left: 0%;
    margin-right: 4%;
}

/* Viz pages - text */
p.viz-page {
    position: relative;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Landing page, left side image*/
.left-img {
    float: left;
    padding-right: 7.5px;
    padding-bottom: 7.5px;
    padding-top: 3px;
    width: 300px;
    /* margin-left: 1%;  */
}

/* Landing page, right side images*/
.right-img {
    float: left;
    padding-right: 0px;
    padding-bottom: px;
    padding-top: px;
    width: 168px;
    margin-left: 2%; 
}

/* Viz pages, right side images that are NOT IN THE RED SQUARE*/
.right-viz-img {
    float: left;
    padding: 4px;
    width: 150px;
    /* margin-left: 2%;  */
}

/* Viz page, current image that IS IN RED SQUARE- has less bottom padding*/
.current-img {
    background-color: red;
    /* float: left; */
    /* border: 0.5px solid rgb(228, 32, 32); */
    /* padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 150px;
    margin-left: 2%;  */
}

/* Viz page - primary image on left side of screen */
.viz-img {
    float: left;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
    width: 655px;
    margin-left: 2%; 
}

/* Landing page - container */
/* .cont-adjust {
    width: 1200px;
    margin: auto;
} */

/* Comparison page - container */
.comp-adjust {
    width: 1500px;
    margin: auto;
}

/* Comparison page - images */
.comp-img {
padding-right: 2px;
padding-bottom: 2px;
padding-top: 2px;
padding-left: 2px;
width: 500px;
margin-left: 2%; 
}

/* Data page - to make the table scroll*/
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }

/* Data page - to make the table scroll*/
.table-wrapper-scroll-y {
display: block;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
  